/** SKILLS **/

div.skill {
  background:url(../images/skill.png) bottom left;
  background-repeat: repeat-x;
  width:160px;
  height:32px;
  position:relative;
  display:inline-block;
}

div.skill-overlay {
  background-image:url(../images/skill.png);
  background-position: top left;
  background-repeat: repeat-x;
  height:32px;
}

div.skill-wrap span {
  line-height:42px;
  width:120px;
  display:inline-block;
  float:left;
	font-weight:bold;
}

div.skill-wrap {
	float:right;
	width:285px;
}

#about p {
	float:left;
	width:560px;
}

a.up-arrow {
	width:212px;
  height:77px;
  text-align:center;
  line-height:105px;
  position:absolute;
  margin-left:-106px;
  left:50%;
  bottom:100px;
	background:url(../img/up_arrow.png) top left;
  color:#f7f7f7;
  text-decoration:none;
	font-size:18px;
}
.up-arrow:hover {
  background:url(../img/up_arrow.png) bottom left;
}

footer {
	background: transparent url(../img/footer-bg.png) scroll top left repeat-x;
	color: #f7f7f7;
	padding: 10px 0;
	font-size: 13px;
	text-align:center;
	padding:50px 0 20px 0;
}