<div id="masthead">

<a href="{{ site.baseurl }}">
<img src="http://gravatar.com/avatar/d9bcd3fc9ff84bbbb6e58c15aa98a659?s=200" title="Weslley Neri Imagem">
  </a>

  <h1 class="sitetitle">
    <a href="{{ site.baseurl }}" class="sitetitle">{{ site.name }}</a>
  </h1>
  <p class="description">Front/Back-End Developer</p>

  <ul id="pagenav">
    <li><a href="{{ site.baseurl }}">Sobre Mim</a></li>
    <li><a href="{{ site.baseurl }}blog">Blog</a></li>
    <li><a href="{{ site.baseurl }}projects">Projetos</a></li>
  </ul>

  <ul class="social-links">
    <li><a class="social-twitter" href="http://twitter.com/weslley_neri">Twitter</a></li>
    <li><a class="social-facebook" href="http://www.facebook.com/weslley.neri.1">Facebook</a></li>
    <li><a class="social-github" href="https://github.com/weslley39">Github</a></li>
    <li><a class="social-email" href="mailto:weslley39@gmail.com">Email</a></li>
  </ul>

</div> <!--/masthead-->